@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}
/*Se quiser fazer Comentários CSS */
button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1d61dd;
    color: white;
}

header {
    background: no-repeat center/cover url("assets/Bangkok-tailandia.jpg");
    height: calc(100vh - 100px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav p {
    font-weight: bold;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin:25px 0;
    font-size: 3rem;
}

.pacotes {
    background: #70ef96;
    padding: 15px;
}

.pacotes .pacotes-card {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}